<%= form_for(@ride_request) do |f| %>
  <% if @ride_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride_request.errors.count, "error") %> prohibited this ride_request from being saved:</h2>

      <ul>
      <% @ride_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :rideDate %><br>
    <%= f.date_select :rideDate %>
  </div>
  <div class="field">
    <%= f.label :rideTime %><br>
    <%= f.time_select :rideTime %>
  </div>
  <div class="field">
    <%= f.label :moneyOffered %><br>
    <%= f.text_field :moneyOffered %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
